python == 3.11.9
asyncpg
psycopg
numpy
pandas
matplotlib
seaborn
scikit-learn == 1.6.1
dask == 2025.3.0
dask-ml == 2025.1.0
plotly
networkx == 3.4.2
pydantic == 2.10.3
scipy
statsmodels
gql == 3.5.2
geojson
geopandas
fiona
pyogrio
tqdm
clean-text
pytest
hypothesis
unidecode
joblib
geopy
pyproj
folium
scikit-lego == 0.9.1
aiofiles
dateutil
async-lru == 2.0.5
sphinx
sphinx-rtd-theme
polars
aiohttp == 3.12.13
sktime
pytorch
pytorch-forecasting
shapely